# Operators and Control Statements

# Typecasting

In [1]:
# Type Casting
# int(), float(), str(), bool()

# int()

#string to int
a="34216534"
print(int(a)) #34216534

#float to int
b=34.67823
print(int(b)) #34

#bool to int
c=True
print(int(c)) #1
d=False
print(int(d)) #0

34216534
34
1
0

In [3]:
#invalid cases
int("abc") #valueError -> strings must only contain digits
int("12a") #valueError

ValueError: invalid literal for int() with base 10: 'abc'

# Operators

In [ ]:
# Operators 
a= b+c 
# a, b, c -> variables or operands
# =, +, - -> Operators

## Types of Operators
1. Arithmetic Operators - maths calculations
2. Comparison Operators - to compare values
3. Assignment Operators - to assign values to variables
4. Logical Operators -   logical operations

In [6]:
# Arithmetic Operator
# Addition 
a =1
b = 4
print(a+b)

'''
int+ int = int
float + int = float
int + float = float
int + boolean = int
float + boolean = float
str + str = str
int or float + str = invalid - error
'''

5

'\nint+ int = int\nfloat + int = float\nint + float = float\nint + boolean = int\nfloat + boolean = float\nstr + str = str\nint or float + str = invalid - error\n'

In [ ]:
a = 4 
b = True
print(a+b) # 4 + 1 =5
c = False # 4+0 =4
print(a+c)

5

In [ ]:
print(2.5 +True) # 3.5
print('1' + 1) #error

3.5

### Subtraction

In [9]:
print(2-3)
print('hello'- 'world') #invalid - error

-1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Multiplication

In [10]:
print(2*3)
print("Hi " * 3) # str * int

'''
float *string - not allowed
'''

6
Hi Hi Hi

'\nfloat *string - not allowed\n'

### Division -> alwasy gives float as the answer

In [12]:
print(3/2)
print(2/2)

1.5
1.0

### Mod operator -> remainder after division

In [ ]:
print(5%2) #1
print(7%9) # 7
print( m%n ) # if n>m, the answer is always m itself

1
7

### Floor Division - grestest int value just lesser than the number

In [17]:
print(8/3)
print(8 // 3)
print(-3/2)
print(-3//2)
print(int(-3/2))

2.6666666666666665
2
-1.5
-2
-1

### Expoenentiation - power of a number
a^b -> a ** b

In [ ]:
print(2 ** 3) # 2^3 = 8
print(3 ** 0.5) # sq rt of 4 = 2

#int  ** int  -> int
# int ** float -> float
# float or int or flat

8
2.0

## Comparison Operators
1. !=
2. ==
3. less than / greater than
4. less than = to / greater than = to

In [ ]:
print(2 ==2) #True
print(2 == 6) # False
print(2 == 2.0) #True
print("1",3 ==3.000000000000001) #false
print(2 == "2") #Flase
print( "2" != "3") # True
print("abc" != "ABC") #true
print(3<4)# True
print(8>=3) #True
print(5>8) # False

# Can compare string int or float (<, <=, >,>=)

True
False
True
1 False
False
True
True
True
True
False

## Assignment Operators

In [27]:
a = 2+5
print(a)
a+=5 
print(a)

7
12

## Logical Operators
1. AND - only if both statements are true answer is true
2. OR - if any one statement is true, answer is true and only and only if both statements are false, answer is false
3. NOT - reverses the boolean value

In [ ]:
# Logical Operators and
(4>1) and (3>9) # True and Flase = > false

False

In [29]:
# Or Operator
(4< 1) or (3> 9) # Flase and False -> flase

False

In [31]:
# Not operator
not True
not False

True

In [34]:
y = "2"
x = 2.0
z= int(y)
print(x+z)

4.0

# Conditional Statements
1. if 
- if condition:
    ->this is the if block
    ->all statemets are equally indented 
    
2. if else
3. if elif else

In [ ]:
# if Condition

In [35]:
print("normal exection")
if 2<3:
    print("Two is less than 3")

print("out of the if statement, Continoues with norma execution")

normal exection
Two is less than 3
out of the if statement, Continoues with norma execution

In [ ]:
if 2<3:
    print("Two is less than 3")
        print("Hi") #error

In [ ]:
#if else 
if(2>3):
    print("Two is Greater than three")
else:
    print("Three is greater than two")
print("Normal execution")

Two is Greater than three
Normal execution

In [ ]:
#if else 
if(2<3): #true
    print("Two is Greater than three")
else: # skipped
    print("Three is greater than two")
print("Normal execution")

x = '1'
z = int(x)
print(x)

Two is Greater than three
Normal execution

ValueError: invalid literal for int() with base 10: '1.0'

In [41]:
# print the grade
# Take marks as input, 
'''
( ) -> exclusive
[ ] -> inclusive
Take marks as input, then print the grrade accordingly as given below:
   A -> (90, 100] - 91 to 100
   B -> (80, 90] - 81 - 90
   C -> (70, 80] - 71 -80
   D -> [0, 70] p - 0 - 70
 '''

'\n( ) -> exclusive\n[ ] -> inclusive\nTake marks as input, then print the grrade accordingly as given below:\n   A -> (90, 100] - 91 to 100\n   B -> (80, 90] - 81 - 90\n   C -> (70, 80] - 71 -80\n   D -> [0, 70] p - 0 - 70\n '

In [43]:
marks = int(input("enter Your marks"))

if marks >90 and marks<=100:
    print("A")
elif marks > 80 and marks <= 90:
    print("B")
elif marks >70 and marks <= 80:
    print("c")
elif marks>=0 and marks <=70:
    print("D")
else:
    print("Invalid Input")

D

# Fizz - Buzz

Given an Integer as input
1. If the number is divisible by 3, print Fizz
2. If the number is divisible by 5, print Buzz
3. If the number is divisible by both 3 and 5, print FizzBuzz
4. If the number is not divisible by either 3 or 5, print the number

In [45]:
number = int(input())
if number % 3 ==0:
    print("Fizz")
elif number % 3 ==0:
    print("Buzz")
elif (number %3 == 0) and  (number %5 ==0):
    print("Fizz-Buzz")

Fizz

In [ ]:
# Nestead ifs - if inside another if
a = input("Is your character Male")

if(a == "Yes"):
    b = input("is your charater good")
    if(b == "Yes"):
        print("Your character name if Chota Bheem")
    else:
        print("Your charater name is Kaliya")
else:
    print("Your charater is Chutki")